<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<!--
<link href="/css/home.css" rel="stylesheet" type="text/css"/>
-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->

<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>FrontTest</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>
      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div id="topo">
    <div class="container" >
      <div class="row" >
        <nav>
          <a href="home">home</a>
          >
          <a href="webServices">Web services</a>

        </nav>
      </div>
      <div class="row" id="container-body">
        <h3>Web services</h3>
        <!-- affichage de description de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="scenario-description">
          <div *ngFor=" let data of datainfo">
          <p> cet outil permet de tester  {{data.nbWebServiceTotale}}  web services</p>

          <div>
            <span>Nombre total des enregistrements :</span>{{data.nbWebServiceTotale}}
          </div>
          <div>
            <span>Nombre total d'echecs :</span> {{data.nbDelta}}
          </div>

          </div>
        </div>
        <!--zone de saisir les informations d'un nouveau service web-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="formulaire">
          <div style="padding-bottom: 5% ;width: 100%">
            <input  placeholder="Name" [(ngModel)]="name"type="text" style="width: 68%"/>
            <select  [(ngModel)]="slectedMethode" style="width: 30%;">
              <option *ngFor=" let methode of methodes" [ngValue]="methode"> {{methode.name}}</option>

            </select>

          </div>
          <div style="padding-bottom: 5%  ;width: 100%">
            <input  placeholder="Url" [(ngModel)]="url"type="text" style="width: 99%"/>
          </div>
          <div style="padding-bottom: 5%">
            <input  placeholder="Body" [(ngModel)]="body"type="text"style="width: 99%"/>
          </div>
          <div style="padding-bottom: 5%">
            <input  placeholder="Description" [(ngModel)]="description"type="text"style="width: 99%"/>
          </div>
          <div style="padding-bottom: 5% ;width: 100%">
            <input  placeholder="Input schema" [(ngModel)]="inputSchema"type="text"/>
            <input  placeholder="Input path schema"[(ngModel)]="inputSchemapath" type="text"/>
          </div>
          <div style="padding-bottom: 5% ;width: 100%">
            <input  placeholder="Output schema" [(ngModel)]="outputSchema" type="text"/>
            <input  placeholder="Output path schema" [(ngModel)]="outputSchemapath" type="text"/>
          </div>
          <div >
            <button class="btn" id="btn-new"(click)="addWebService(name,url,slectedMethode.name,body,description, inputSchema, inputSchemapath,outputSchema,outputSchemapath)">Add Web Service</button>

          </div>
        </div>
        <!-- affichage de la liste des scénario de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="liste-scénarios">
          <div class="row">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <div *ngFor=" let webService of datas | sortByName">
                  <div class="scenario_item"(click)="onSelect(webService.id)" >{{webService.name}} </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--PO-PUP-->

      <!-- affichage de bouton -->
      <!--
      <div class="row">
          <button class="btn" id="btn-test" onclick=" testerWs()" >Tester</button>
          <button class="btn" id="btn-compare" onclick="compareWs()" >Comparer</button>
      </div>
      -->
    </div>
   </div>
  </div>
</div>



