<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<!--
<link href="/css/home.css" rel="stylesheet" type="text/css"/>
-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->

<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>LOGO</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>
      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div id="topo">
    <div class="container" >
      <div class="row" >
        <nav>
          <a href="home">home</a>
          >
          <a href="webServices">Web services</a>

        </nav>
      </div>
      <div class="row" id="container-body">
        <h3>Web services</h3>
        <!-- affichage de description de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="scenario-description">
          <div *ngFor=" let data of datainfo">
          <p> cet outil permet de tester  {{data.nbWebServiceTotale}}  web services</p>

          <div>
            <span>Nombre total des enregistrements :</span>{{data.nbWebServiceTotale}}
          </div>
          <div>
            <span>Nombre total d'echecs :</span> {{data.nbDelta}}
          </div>

          </div>
        </div>
        <!-- affichage de la liste des scénario de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="liste-scénarios">
          <div class="row">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <div *ngFor=" let webService of datas | sortByName">
                  <div class="scenario_item"(click)="onSelect(webService.id)" >{{webService.name}} </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn" id="btn-new" data_target="#basicModal" >Nouveau Web Service</button>
          </div>
        </div>
        <!--PO-PUP-->
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="background-color: red; border-radius: 30px; size: 10px">×</button>
              </div>
              <form>
                <div class="modal-body">
                  <div class="col-md-6">
                    <h3> Device <small><i></i></small></h3>
                    <div class="form-group">
                      <div *ngFor=" let device of allinfo" >
                        <div style="background-color:lightblue;border-radius: 3px;width: 150%">
                          <label>SubSystem:</label> {{device.subSystem}}<br>
                          <label> EndPoint:</label>{{device.endPoint}}<br>
                          <label>Mesure: </label> {{device.mesure}}><br>
                          <label>Mesure Unit: </label>{{device.mesureUnite}}<br>
                          <label>Mashup: </label>{{device.mashup}} <br>
                        </div>
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                </div>
              </form>
            </div>
          </div>
      </div>
      <!-- affichage de bouton -->
      <!--
      <div class="row">
          <button class="btn" id="btn-test" onclick=" testerWs()" >Tester</button>
          <button class="btn" id="btn-compare" onclick="compareWs()" >Comparer</button>
      </div>
      -->
    </div>
  </div>

  </div>
</div>


