<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<!--
<link href="/css/home.css" rel="stylesheet" type="text/css"/>
-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->

<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>LOGO</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>
      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div *ngFor=" let info of allinfo">
  <div id="topo">
    <div class="container" >
      <div class="row" >
        <nav>
          <a href="home">home</a>
          >
          <a href="senarios">Scénarios</a>
          >
          <a >{{info.name}}</a>
        </nav>
      </div>
      <div class="row" id="container-body">
        <!-- affichage de description de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="scenario-description">

          <h3>{{info?.name}}</h3>
          <p> Ce scénario de test permet de tester un enchaînement des web services</p>
           <!-- <div class="scenario_item"  *ngFor=" let record of info?.webServices">

                {{record?.name}}       {{record?.rang}}

            </div>-->
          <span *ngFor=" let record of info?.webServices">

            <span style="background-color: #FE9A2E"(click)="onSelect(record.id)">{{record?.name}} </span>
            <span style="background-color:darksalmon">{{record?.rang}}</span>
          </span>
          <!--<div>
            <span>Date d'exécution :</span> <time>24/05/2018</time>
          </div>
          <div>
            <span>Nombre total de tests effectués :</span> 20
          </div>
          <div>
            <span>Nombre total d'echecs :</span> 15
          </div>
          <div>
            <span>Taux de modification :</span> 60%
          </div>-->
        </div>
        <!-- affichage de la liste des scénario de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="liste-scénarios">
          <div class="row">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <!--<div *ngFor=" let inf of records">
                    <div class="scenario_item" ><input type="checkbox"/>{{inf.name}}1</div>
                </div>-->
                <div class="scenario_item"  *ngFor=" let record of info?.records">
                  <input  type="checkbox" [(ngModel)]="record.checked"/>{{record?.name}}
                </div>

              </div>
            </div>
          </div>
         <!-- <div class="row">
            <button class="btn" id="btn-new">Comparer</button>
          </div>-->
        </div>
      </div>
      <!-- affichage de bouton -->
      <div class="row">
        <button class="btn" id="btn-test" (click)=" testerScenario(info.id)" >Tester</button>
        <button class="btn" id="btn-compare" (click)="comparerScenario(info)" >Comparer</button>
      </div>
    </div>
  </div>
  </div>
</div>


