<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<!--<link href="/css/home.css" rel="stylesheet" type="text/css"/>-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->

<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>LOGO</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>
      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div id="topo">
    <div class="container" >
      <div class="row" >
        <nav>
          <a href="home">home</a>
          >
          <a href="senarios">Scénarios</a>

        </nav>
      </div>
      <div class="row" id="container-body">
        <!-- affichage de description de scénario-->
        <h3>Scénarios</h3>
        <div class="col-md-5 col-ms-6 col-xs-6" id="scenario-description">
          <p> Cet outil permet de tester 2 sénarios  </p>

          <div *ngFor=" let scenario of datas">
            <li>{{scenario.name}}</li>
          </div>
        </div>
        <!--zone de saisie d'un nouveau scenario-->


        <div class="col-md-5 col-ms-6 col-xs-6" id="formulaire">
          <div style="padding-bottom: 5% ;width: 100%">
            <input  placeholder="Name" [(ngModel)]="name"type="text" style="width: 68%"/>
            <select  [(ngModel)]="selectedCron" style="width: 30%;">
              <option *ngFor=" let cron of crons" [ngValue]="cron"> {{cron.value}}</option>
            </select>
          </div>
          <div>
          <span style="width: 50%;">WebServices</span>
          <span style="padding-left: 30%">Rang</span>
          </div>
          <div>
            <select  [(ngModel)]="slectedWebservice" style="width: 50%;">
              <option *ngFor=" let webService of dataWebService" [ngValue]="webService"> {{webService.name}}</option>
            </select>

            <select  [(ngModel)]="slectedRang" style="width: 30%;">
              <option *ngFor=" let rang of rangs" [ngValue]="rang"> {{rang.value}}</option>
            </select>
            <button class="btn btn-lg btn-success" (click)="addWebService(slectedWebservice.id, slectedRang.value)"><span class="glyphicon glyphicon-ok-sign"></span> </button>

          </div>
          <div style="padding-bottom: 5%  ;width: 100%;">

            <input  placeholder="" [(ngModel)]="cron"type="text" style="width: 99%;height: 100px"/>
          </div>

          <div >
            <button class="btn" id="btn-new"(click)="addScenario(name,selectedCron.value)">Add Scenario</button>
          </div>
        </div>
        <!-- affichage de la liste des scénario de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="liste-scénarios">
          <div class="row">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <div *ngFor=" let scenario of datas">
                  <div class="scenario_item"(click)="onSelect(scenario.id)" >{{scenario.name}} </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>


