<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<!--
<link href="/css/home.css" rel="stylesheet" type="text/css"/>
-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->

<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>FrontTest</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>
      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div *ngFor=" let info of allinfo">
  <div id="topo">
    <div class="container" >
      <div class="row" >
        <nav>
          <a href="home">home</a>
          >
          <a href="webServices">Web services</a>
          >
          <a  > {{info.name}} </a>
        </nav>
      </div>
      <div class="row" id="container-body">
        <!-- affichage de description de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="scenario-description">

          <h3>{{info.name}}</h3>
          <div> {{info.description}}</div>
          <div>
            <span>Url :</span> <a >{{info.url}}</a>
          </div>
          <a *ngFor=" let record of info?.scenarios">
            <span style="background-color: #FE9A2E"(click)="onSelect(record.id)">{{record?.name}} </span>
          </a>
        </div>
        <!-- affichage de la liste des scénario de scénario-->
        <div class="col-md-5 col-ms-6 col-xs-6" id="liste-scénarios">
          <div class="row">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <div class="scenario_item"  *ngFor=" let record of info?.records | sortByDate">
                  <input  type="checkbox" [(ngModel)]="record.checked"/>{{record?.name}}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- affichage de bouton -->
      <div class="row">
        <button class="btn" id="btn-test" (click)=" testerScenario(info.id)" >Tester</button>
        <button class="btn" id="btn-compare" (click)="comparewebservice(info)" >Comparer</button>
      </div>
    </div>
  </div>
  </div>
</div>


