<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>

<!--
<link href="/css/home.css" rel="stylesheet" type="text/css"/>
-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type= "text/javascript" src="js/jshome.js"></script>
<!-- affichage de menu -->
<body class="body-fond">
<div id="topo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
        <a href="home"><h2>LOGO</h2></a>
      </div>
      <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">

        <a href="#" class="btn-collapse">
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
          <div class="lista-collapse"></div>
        </a>

      </div>
    </div>
    <div class="row">
      <ul id="menu-topo">
        <li><a href="senarios">Scénarios</a></li>
        <li><a href="webServices">Web services</a></li>
        <li><a href="">Visualiser</a></li>

      </ul>
    </div>
  </div>
  <!-- Fin affichage de menu -->
  <!-- affichage de contenu -->
  <div id="topo">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-ms-6 col-xs-6" id="logo-alerte">
          <img src="../../assets/alerte.jpg"/>
        </div>
        <div class="col-md-5 col-ms-6 col-xs-6" id="statistique">
          <div class="texte-alerte">Nombre de scénarios modifiés : <a href="#">5 / 10 scénarios</a>

            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                50%
              </div>
            </div>

          </div>
          <div class="texte-alerte"> Nombre de web Services modifiés : <a href="#">25/100 web services</a>
            <div class="progress">
              <div class="progress-bar  progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:25%">
                25%
              </div>
            </div>

          </div>

          <div class="texte-alerte">Nombre de ligne modifiés : <a href="#">300/15000 lignes</a>
            <div class="progress">
              <div class="progress-bar  progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:2%">
                2%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

